<div class="jumbotron jumbotron-fluid mt-5 text-center">
    <ul >
        {{#each notes}}
        <div class="all-notes">
            <p> About: {{title}}
            </p>
            <p> My thoughts: {{body}}</p>
            </li>
            <form action="/delete/{{id}}" method="get">
                <input type="hidden" name="_id" value="{{_id}}">
                <input type="submit" value="Delete Note">
            </form>

        </div>
        {{/each}}
    </ul>
</div>