<div class="jumbotron jumbotron-fluid mt-5"></div>
    <img class="img-fluid" id="image-nature" src="befunky_layer - Copy.png" alt="">
<ul>
        {{#each notes}}
        <div class="my-note">
<p> Title: {{title}}
</p>
         <p> Note:  {{body}}</p> 
        </li>
         <form action="/delete/{{id}}" method="get">
                <input type="hidden" name="_id" value="{{_id}}">
                <input type="submit" value="Delete Note">
            </form>
        
        </div>
        {{/each}}
    </ul>
</div>